* {
    margin: 0;
}

main {
    margin-left: 200px;
    margin-right: 200px;
}

/* .............header part start..... */
.banner {
    background-image: url('../images/banner/banner3.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-info {
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    margin-right: 200px;
    padding-bottom: 200px;

}

.banner-title {
    font-size: 80px;
}

.banner-des {
    width: 500px;
    font-size: 20px;
}

.btn {
    color: royalblue;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    margin: 20px;
}

/* ...........failure section start.............. */

.failure-sec {
    background-color: azure;
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img {
    width: 50%
}

.failure-des {
    width: 50%;
    margin-top: 200px;
}

.failure-title {
    font-size: 35px;
    margin-top: 50px;
}

.failure-details {
    width: 50%;
    font-size: 20px;
    margin-top: 50px;
}

li {
    list-style: none;
    padding: 5px;
}

/* ...........failure section close.......... */

/* .........plan section start...... */

.plan {
    display: flex;
    gap: 200px;
    justify-content: space-around;
    margin-top: 100px;


}

.plan-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: deepskyblue;
}

img {
    align-items: center;
}

.plan-name {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.plan-details {
    text-align: center;
}

/* ..........plan section close.......... */

/* ...........contact part start........ */
.contact {
    margin-top: 100px;
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    padding: 50px;
    height: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 100px;
}

.contact-title {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    color: darkblue;
}

.extra-color {
    color: brown;
    font-weight: 800;
}

.contact-btn {
    color: royalblue;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;

}

/* ...........contact part close........ */

/*.......... bonus part start..... */
.bonus-part {
    background-image: url('../images/gradient1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    box-shadow: 5px solid darkgray;
    margin-bottom: 20px;
    padding: 50px;
    font-size: 20px;
    font-weight: 500;
    color: antiquewhite;
    width: 700px;
    height: 100px;
    border-radius: 5px;
    border-left: 2px solid red;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: left;
}

.bonus-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: deepskyblue;
}

.bonus-container {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.bonus-img {
    width: 70%;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 200px;
}


/*.......... bonus part close..... */

/*.......... end part start..... */

.future {
    display: flex;
    gap: 300px;
    justify-content: space-between;
    background-color: dodgerblue;
}

.future-sec {
    margin: auto;
    width: 50%;
    color: white;
    padding-left: 200px;
}

.future-title {
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
}

.future-details {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;

}

.icon-img {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.subscribe-sec {
    width: 50%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
}

.subscribe-title {
    margin-top: 10px;
    padding-bottom: 10px;
}

.mail {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.subscribe-btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    color: slategrey;
}

/* .........end part close........ */

/* .....footer part start..... */
footer {
    font-weight: bold;
    font-size: 20px;
    color: dodgerblue;
    text-align: center;
    padding: 10px;
}